/src/main/java/generated
/src/main/java/generated/*
/src/main/java/com/ofss/fcubs/*
/src/main/resources/*.properties
/target/
median_iso.log
abc.txt
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/median_iso.log
